<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Car Forms</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.remember() }} {{ form.remember.label }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

    <p>Don't have an account? <a href="{{ url_for('sign_up') }}">Register here</a>.</p>
</body>
</html>
